{{!-- <div class="background">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="main-page">
                    <h1 class="inicio">{{title}} </h1>
                    <p class="inicio">Welcome Ironhacker!</p>
                </div>

            </div>
        </div>

    </div>
</div> --}}

<!-- Header-->
<header class="py-5 background2">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-3">
                    <h1 class="main display-12 fw-bolder text-white mb-3">Prepara tu viaje </br> y guarda tus recuerdos
                    </h1>
                    <p class="lead text-white-50 mb-4 green">Fotos, comentarios y tips para poder pasar a tus amigos!
                    </p>
                    <img width="200px" src="/images/logo-yourroad.png">
                    {{!-- <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Registrate</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="#!">Inicia Sesi贸n</a>
                    </div> --}}
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Features section-->
<section class="py-5 border-bottom" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class=" bg-gradient text-white rounded-3 mb-3">
                <img src="/images/folheto.png" width="100px">
                </div>
                <h2 class="h4 fw-bolder">F谩cil de Utilizar</h2>
                <p>En unos pocos pasos puedes a帽adir viajes a colecciones y marcar los puntos que quieres visitar en la zona d贸nde vas a estar</p>

            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-gradient text-white rounded-3 mb-3">
                <img src="/images/mundo.png" width="100px">
                </div>
                <h2 class="h4 fw-bolder">Personalizaci贸n</h2>
                <p>Puedes editar tu viaje a tu gusto y en el momento que quieras: para planificar y almacenar informaci贸n una vez hayas terminado tu viaje.
                    Es tu diario, edita y organiza tu viaje sin necesidad de apuntarlo en un papel.
                </p>

            </div>
            <div class="col-lg-4">
                <div class="feature bg-gradient text-white rounded-3 mb-3">
                <img src="/images/fotos.png" width="100px">
                </div>
                <h2 class="h4 fw-bolder">Guarda todos tus recuerdos</h2>
                <p>En cada sitio visitados puedes almacenar una foto de recuerdo que te hayas echado o del lugar que has visitado.</p>

            </div>
        </div>
    </div>
</section>
